html {
    box-sizing: border-box;
    background-color: #000;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.controls {
    z-index: 100;
}

.hide-controls .controls {
    display: none;
}

canvas {
    cursor: none;
}
